

.bottom-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% + 200px);
    right: 0;
    overflow: hidden;
    -webkit-mask-image: url("../img/bottom-photo__mask.svg");
    mask-image: url("../img/bottom-photo__mask.svg");
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    min-height: 300px;
}

.bottom-photo img {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    object-fit: cover;
}

.bottom-logo {
    left: -30px;
    margin-bottom: -100px;
    margin-top: 50px;
}

.bottom-credentials,
.bottom-credentials * {
    text-decoration: none;
    color: var(--blue);
    font-size: 14px;
    line-height: 22px;
}
.bottom-credentials {
    padding-bottom: 70px;
}
.bottom-security {
    color: var(--blue);
    font-size: 9px;
    line-height: 1.5;
    max-width: 600px;
    padding-bottom: 70px;
}
.bottom-social {
    margin: -50px 0 40px;
}
.bottom-social img {
    width: 20px;
}

@media screen and (max-width: 800px) {   
    .bottom-logo {
        left: 0;
        margin-top: 40px;
    }
    .bottom-logo img {
        width: 60vw;
        margin-bottom: -5vw;
        margin-top: -1vw;
    }
    .bottom .menu {
        flex-wrap: wrap;
    }
    .bottom .menu__item {
        min-width: 75%;
    }
    .bottom-credentials,
    .bottom-credentials * {
        font-size: 13px;
    }
    .bottom-credentials a:hover {
        color: white;
    }
}