
.connect {
    margin-top: 100px;
}
.connect__title {
    width: 375px;
    height: 27px;
    overflow: hidden;
    -webkit-mask-image: url("../img/connect__mask.svg");
    mask-image: url("../img/connect__mask.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.connect__title__filler {
    position: absolute;
    left: -100px;
    top: -260px;
    width: 500px;
    height: 500px;
    background: linear-gradient(266.64deg, #FFFFFF 24.61%, #FBF7E4 30.11%, #A8CAD1 41.68%, #0CB6FF 92.39%);
    animation: strategies-title__filler infinite 4s ease-in-out;
}
.connect__description {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
}
.connect__form {
    width: 100%;
    margin-top: 50px;
}
.connect__form input {
    border: 0;
    outline: none;
    background: var(--input-bg);
    color: var(--input-color);
    padding: 15px 20px;
    font-size: 14px;
    display: block;
    margin: 20px 0;
    width: 100%;
}
.connect__form input::placeholder {
    color: var(--blue);
}
.connect__form__submit {
    width: fit-content;
    cursor: pointer;
}
.connect__form__submit input {
    width: fit-content;
    padding: 15px 40px 15px 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--darkblue);
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
}
.connect__form__submit:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #F7FBFF 22.51%, #BED5EA 112.8%);
    -webkit-mask-image: url("../img/strategies__item__mask.svg");
    mask-image: url("../img/strategies__item__mask.svg");
    -webkit-mask-size: 970px;
    mask-size: 970px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: right bottom;
    mask-position: right bottom;
    z-index: -1;
}
.connect__form__submit:after {
    content: "";
    position: absolute;
    top: 30px;
    bottom: -30px;
    left: 10px;
    right: 10px;
    background: rgba(124, 231, 255, 0.38);
    filter: blur(24px);
    z-index: -2;
}
@media screen and (max-width: 800px) {
    .connect__title {
        width: 305px;
        height: 27px;
        max-width: 80vw;
    }
    .connect__description {
        font-size: 13px;
        line-height: 20px;
        margin: 10px 0;
    }
}
@keyframes strategies-title__filler {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.connect-wrapper {
    z-index: 20;
}


.g-recaptcha { 
    /* visibility: hidden; */
}