.contact {
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px;
}
.contact > * {
    min-width: 220px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
}
.contact__form {
    width: 100%;
    margin-top: -10px;
}
.contact__form input,
.contact__form textarea {
    border: 0;
    outline: none;
    color: var(--darkblue);
    font-weight: 600;
    padding: 15px 20px;
    font-size: 14px;
    display: block;
    margin: 10px 0;
    width: 100%;
    background: linear-gradient(0deg, #F7FBFF 22.51%, #e1eaf2 112.8%);
}
.contact__form *::placeholder {
    color: var(--darkblue);
    font-weight: 400;
}
.contact__form input.contact__form__submit {
    width: fit-content;
    padding: 15px 40px 15px 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    border: 0;
    outline: none;
    background: var(--blue);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .contact {
        /* padding-right: 20px;
        display: block; */
    }
}