

.contacts {
    padding-top: 0;
}

.contacts__item {
    display: flex;
    margin: 30px 0;
}

.contacts__item__icon {
    padding-right: 30px;
}
.contacts__item__data {
    flex-grow: 1;
}

.contacts__item__title {
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    color: var(--blue);
}

@media screen and (max-width: 800px) {
    .contacts {
        margin-top: 0!important;
    }
    .contacts__item__icon {
        padding-right: 20px;
    }
    .contacts__item__text {
        font-size: 13px;
    }
}