

.feedback {
    padding: 50px 60px 70px;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
}
.feedback:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(15.06deg, #1C006A -60.9%, #00D1FF 99.18%);
    -webkit-mask-image: url("../img/feedback__mask.svg");
    mask-image: url("../img/feedback__mask.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: right bottom;
    mask-position: right bottom;
    z-index: -1;
}
.feedback:after {
    content: "";
    position: absolute;
    top: 30px;
    bottom: -30px;
    left: 10px;
    right: 10px;
    background: rgba(124, 231, 255, 0.08);
    filter: blur(24px);
    z-index: -2;
}
.feedback__photo:not(:empty) {
    padding-right: 20px;
}
.feedback__photo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100px;
}
.feedback__name {
    font-size: 24px;
    font-weight: 900;
    flex-grow: 1;
    align-self: center;
}
.feedback__text {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    margin: 20px 0;
}


@media screen and (max-width: 800px) {
    .feedback {
        padding: 30px;
    }
    .feedback__name {
        font-size: 16px;
    }
    .feedback__text {
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        line-height: 17px;
        margin: 20px 0 40px;
    }
    .connect__form input {
        margin: 10px 0;
    }
}
