

.top-slogan {
    width: 445px;
    height: 75px;
    overflow: hidden;
    -webkit-mask-image: url("../img/top-slogan__mask.svg");
    mask-image: url("../img/top-slogan__mask.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin-top: -70px;
}
.top-slogan__filler {
    position: absolute;
    top: -285px;
    left: -100px;
    width: 645px;
    height: 645px;
    background: linear-gradient(266.64deg, #FFFFFF 24.61%, #FBF7E4 30.11%, #A8CAD1 41.68%, #0CB6FF 92.39%);
    animation: top-slogan__filler infinite 5s linear;
}

@keyframes top-slogan__filler {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 800px) {
    .top-slogan {
        margin-top: -10vw;
        width: 69vw;
        height: 13vw;
    }
    .top-slogan__filler {
        top: -40vw;
        left: -10vw;
        width: 90vw;
        height: 90vw;
    }
}